{
  "paths": {
    "log_dir": "/var/log/protect-lpr",
    "log_file": "/var/log/protect-lpr/protect-lpr-pull.log",
    "image_dir": "/var/lib/protect-lpr/images",
    "unknown_dir": "/var/lib/protect-lpr/images/unknown",
    "mysql_db_file": "/var/lib/protect-lpr/mysql/protect-lpr.db",
    "sizes": "/var/lib/protect-lpr/sizes.csv"
  },
  "logging": {
    "level": "DEBUG",
    "format": "%(asctime)s - %(levelname)s - %(message)s"
  },
  "server": {
    "address": "YOUR_UNIFI_PROTECT_IP",
    "port": 443,
    "username": "YOUR_USERNAME",
    "password": "YOUR_PASSWORD",
    "max_concurrent_ffmpeg": 4,
    "webhook_port": 1025
  },
  "ignored_plates": [],
  "users_file": "/opt/protect-lpr/users.json",
  "retention_days": 7,
  "camera_ids": "YOUR_CAMERA_ID_1,YOUR_CAMERA_ID_2",
  "age_seconds": 20,
  "video_window_start_seconds": -15,
  "video_window_end_seconds": 20,
  "download_wait": 5,
  "download_timeout": 15,
  "log_prefix": "event_",
  "log_suffix": ".log",
  "retry_attempts": 3,
  "retry_wait_seconds": 5,
  "schedule_interval_seconds": 10,
  "backup_original_video": true,
  "sqlite3_db_file": "/var/lib/protect-lpr/mysql/protect-lpr.db",
  "web": {
    "port": 8082
  }
}
