[Unit]
Description=Unifi Protect LPR Python Script
After=network.target

[Service]
Type=simple
ExecStart=/opt/protect-lpr/venv/bin/python /opt/protect-lpr/protectEvent.py
WorkingDirectory=/opt/protect-lpr
Restart=always
User=martijn
Environment="PYTHONUNBUFFERED=1"
Environment="PATH=/opt/protect-lpr/venv/bin:/usr/local/bin:/usr/bin:/bin"
StandardOutput=append:/var/log/protect-lpr/protect-lpr.log
StandardError=append:/var/log/protect-lpr/protect-lpr.log

[Install]
WantedBy=multi-user.target	
